Repository fmhy/edit, pull requests merged in 2024-12, with the labels that each got.

#2691 Remove mentions of deprecated paths & files
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/wiki.yml
  .github/POST_TEMPLATE.md
  api/routes/single-page.ts
  docs/.vitepress/config.mts
  docs/.vitepress/constants.ts
  docs/.vitepress/transformer.ts
  docs/miscguide.md
  docs/posts/search.md
  docs/unsafesites.md
Labels: core, docs

#2693 Server Link
  docs/non-english.md
  docs/videopiracyguide.md
Labels: docs

#2694 Update miscguide.md
  docs/miscguide.md
Labels: docs

#2697 Update miscguide.md, corrected closing bracket on link
  docs/miscguide.md
Labels: docs

#2703 Update miscguide.md, updated Coffee Guide URL
  docs/miscguide.md
Labels: docs

#2707 Update audiopiracyguide.md, removed dead link
  docs/audiopiracyguide.md
Labels: docs

#2713 Remove localization from App Store links
  docs/android-iosguide.md
Labels: docs

#2720 Add Pythonium and remove dead links - devtools.md
  docs/devtools.md
Labels: docs

#2723 rentry fix in beginners guide, the #adguard-pro-ios is renamed to #adguard-pro
  docs/beginners-guide.md
Labels: docs

#2726 Update all deploy-gh-pages.yml actions
  .github/workflows/deploy-gh-pages.yml
Labels: core

#2729 Update gaming-tools.md
  docs/gaming-tools.md
Labels: docs

#2730 Update audiopiracyguide.md
  docs/audiopiracyguide.md
Labels: docs

#2740 Add Politics and War
  docs/gamingpiracyguide.md
Labels: docs

#2751 Update videopiracyguide.md
  docs/videopiracyguide.md
Labels: docs

#2753 Update non-english.md
  docs/non-english.md
Labels: docs

#2763 Update videopiracyguide.md
  docs/videopiracyguide.md
Labels: docs

#2770 Rename "Adguard Remote" to "AdGuard Home Remote"
  docs/android-iosguide.md
Labels: docs

#2783 Fix incorrect file size limit on Dubz in Video Tools
  docs/video-tools.md
Labels: docs

#2786 feat(api): utilise more caching for single-page route
  api/routes/single-page.ts
  nitro.config.ts
  package.json
  pnpm-lock.yaml
  wrangler.toml
Labels: core

#2787 Update videopiracyguide.md
  docs/videopiracyguide.md
Labels: docs

#2788 Update non-english.md
  docs/non-english.md
Labels: docs

#2789 Update gaming-tools.md
  docs/gaming-tools.md
Labels: docs
